$modalPadding = 24

.common-modal
  .modal
    background-color: white
    box-shadow: 0px 0px 38px 8px rgba(0, 0, 0, 0.4)
    padding: ($modalPadding)px
    position: absolute
    top: 25%
    left: 25%
    width: 50%
    height: 50%
    margin: -($modalPadding)px 0 0 -($modalPadding)px
    z-index: 1

  .overlay
    bottom: 0
    cursor: pointer
    left: 0
    height: 100%
    position: absolute
    right: 0
    top: 0
    opacity: 0.7
    background-color: white
    width: 100%
