.toolbar
  align-items: center
  bottom: ($toolbarHeight)px
  display: flex
  height: ($toolbarHeight)px
  left: 0
  position: absolute
  right: 0
  top: 0
  background-color: deepskyblue

  li > a
    padding: 16px 12px
